:root {
    --default-color: #8257e6;
    --primary-color: #ff9900;
    --secondary-color: #F7F5FA;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mudarSenha_quadrado_roxo {
    background: var(--default-color);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.mudarSenha_quadrado_branco {
    background: var(--secondary-color);
    width: 50%;
    height: 70vh;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.mudarSenha_quadrado_branco h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 3em;
    font-weight: lighter
}

.mudarSenha_quadrado_branco p {
    margin-top: 1em;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.mudarSenha_input {
    background-color: var(--secondary-color);
    color: var(--black);
    padding: 12px;
    width: 28em;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2em;
}

.mudarSenha_button {
    background-color: var(--default-color);
    border: none;
    color: var(--secondary-color);
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 3em;
    width: 20%;
}

.mudarSenha_center {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

#topo_web {
    width: 100%;
    height: 15vh;
    background: var(--primary-color);
}

.menu {
    justify-content: space-around;
    height: 17vh;
    align-items: center;
    background-color:#8257e6
}

.menu ul {
    list-style-type: none;
}

.menu a {
    padding: 0 30px;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--texto);
    text-transform: uppercase
}
.logo {
    width: 90%;
    margin-top: 1em;
    
} 

.icon {
    margin-top: 1em;
    display: none;
}

