.navbar {
    background-color:  #8257e6;
}

.navbar-brand {
    margin-left: 7%;
}
.navbar-toggler{
    border: 1px solid white;
}
.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color:  #ff9900;
}

#user-options #navbarDropdownMenuLink {
    color: white;
}

#user-options #navbarDropdownMenuLink:hover {
    color:  #ff9900;
}