.navbar {
    background-color:  #8257e6;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color: orange;
}

#user-options #navbarDropdownMenuLink {
    color: white;
}

#user-options #navbarDropdownMenuLink:hover {
    color: orange;
}